<section id="content">
  <div class="row m-n">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="text-center m-b-lg">
        <h1 class="h text-white animated fadeInDownBig">404</h1>
      </div>
      <div class="list-group auto m-b-sm m-b-lg">
        <a [routerLink]="['/home']" *ngIf="isAuth" class="list-group-item">
          <i class="fa fa-chevron-right icon-muted"></i>
          <i class="fa fa-fw fa-home icon-muted"></i>
          Goto Home Page
        </a>
        <a [routerLink]="['/signin']" *ngIf="!isAuth" class="list-group-item">
          <i class="fa fa-chevron-right icon-muted"></i>
          <i class="fa fa-fw fa-sign-in icon-muted"></i>
          Goto SignIn Page
        </a>
        <a href="#" class="list-group-item">
          <i class="fa fa-chevron-right icon-muted">
          </i>
          <span class="badge bg-info lt">+201120266849</span>
          <i class="fa fa-fw fa-phone icon-muted"></i>
          Call us
        </a>
      </div>
    </div>
  </div>
</section>
